section {
    padding: 18px;
    padding-top: 22px;
}

.bar {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: #424251
}
.gfx {
    margin-top: 20px
}
.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px
}

.data {
    margin-top: 20px;
    display: flex;
    height: 90px;
    justify-content: space-around;
    box-sizing: border-box;
}

.data-item { 
    height: 90px;
    width: 30%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.data-item h6 {
    margin-top: 10px;
}

.data-item h5 {
    position: absolute;
    top: 40%;
    font-size: 24px
}

h4, h6 {
    font-size: 16px;
}

h4 span {
    opacity: 0.9;
    font-weight: 100;
}

h6 {
    font-weight: 100;
    opacity: 0.9
}
.rambar, .drivebar, .drivebar, .batterybar {
    position: relative;
    top: 6px;
    width: 0%
}

.rambar {
    background-color: #fae47b;
}

#drivebar0 {
    background-color: #ee37d2;
}

#drivebar1 {
    background-color: #f09145;
}

#drivebar2 {
    background-color: #009af3;
}

#drivebar3 {
    background-color: #ff3756;
}

.batterybar {
    background-color: #00ffbf;
}

.pie-chart-slice {
    stroke-width: 0
}

@media screen and (min-width: 600px) {
    .content {
        display: flex;
        
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    section {
        width: 40%;
        border: 3px solid #212230;
        margin: 15px;
        border-radius: 10px; 
    }

    svg {
        width: 70%;
        margin-left: 20px
    }

    .data-item h5 {
        position: absolute;
        top: 35%;
        margin-left: 5px;
        font-size: 20px
    }

}